{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">My Top 10 Movies</h1>
    <p class="description">These are my all-time favourite movies.</p>

    <div class="card" >
        <div class="front" style="background-image: url('https://www.shortlist.com/media/images/2019/05/the-30-coolest-alternative-movie-posters-ever-2-1556670563-K61a-column-width-inline.jpg');">
        <p class="large">{{ film_list[0].id }}</p>
    </div>

    <div class="back"><div>
    <div class="title">{{ film_list[0].title }} <span class="release_date">{{ film_list[0].year }}</span></div>
        <div class="rating">
            <label>{{ film_list[0].rating }}</label>
            <i class="fas fa-star star"></i>
        </div>
        <p class="review">{{ film_list[0].review }}</p>
        <p class="overview">
            {{ film_list[0].description }}
        </p>

        <a href="#" class="button">Update</a>
        <a href="#" class="button delete-button">Delete</a>
    </div>
  </div>


</div>

<div class="container text-center add">
<a href="#" class="button">Add Movie</a>
</div>

{% endblock %}